@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

body {
  /*background-image: url("../images/exercise-main.jpg");*/
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red, orange , yellow, green, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, orange, yellow, green, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, orange, yellow, green, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red, orange , yellow, green, blue, violet); /* Standard syntax (must be last) */
}

main {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

#logo {
  display: inline-block;
  margin: 30px;
  width: 100px;
}

#logo a {
  text-decoration: none;
}

#logo a:visited {
  text-decoration: none;
}

#top-logo {
  font-family: 'Archivo Black', Helvetica, Arial, sans-serif;
  font-size: 3em;
  padding: 0px 17px 0px 17px;
  color: rgba(00, 00, 00, .7);
  border-radius: 50%;
  border: 10px solid rgba(00, 00, 00, .7);
}

nav {
  display: inline-block;
}

nav ul {
  position: relative;
  bottom: 1.8em;
}

nav ul li {
  display: inline-block;
  margin: 15px;
}


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 250px;
  margin: 0 3em 2em 3em;
  position: relative;
  width: 250px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

span.text-content span {
  display: table-cell;
  text-align: justify;
  vertical-align: middle;
  padding: 5px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
   font: 600 16px/20px "Helvetica", Sans-Serif;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 img {
   border: 2px solid black;
 }
